.card {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27ae60;
  color: white;
  height: 150px;
}

.body {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
